{% extends 'terminology_service/base.html' %}

{% block title %}
    Terminology service
{% endblock %}

{% block content %}
    <h2>Instructions</h2>
    <p>
        <ul>
            <li><a href="info/api/directories/" target="_blank">[site_name]/info/api/directories/</a></li>
            <li><a href="info/api/directories/?page=2" target="_blank">[site_name]/info/api/directories/?page=2</a></li>
            <li><a href="info/api/directories/?date=2021-12-02" target="_blank">[site_name]/info/api/directories/?date=2021-12-02</a></li>
            <li><a href="info/api/items" target="_blank">[site_name]/info/api/items</a></li>
            <li><a href="info/api/items/?name=Antibiotics&version=1.2.643.2.69.1.1.1.74" target="_blank">[site_name]info/api/items/?name=Antibiotics&version=1.2.643.2.69.1.1.1.74</a></li>
        </ul>
    </p>
{% endblock %}
